#All the follwing lists must be in format ['a','an','at']
#Leave list blank if you do not wish to undergo any changes


#To replace current stopword list with a brand new one enter words into the blank list below

new_stop_set_list: []


#To add stopwords to the current list of stopwords enter words into the blank list below

add_stop_list: [the]


#To remove stopwords to the current list of stopwords enter words into the blank list below

remove_stop_list: []


#To undergo stemming for tokenized words set to True. If not set to False
#Choose either PorterStemmer() or SnowballStemmer from nltk
#Stemming is the process for reducing inflected words to their word stem, base or root form by chopping off word endings
#Example: dropping --> drop

PorterStemmer: True
SnowballStemmer: False


#To undergo lemmatization for tokenized words set to True. If not set to False
#Uses WordNetLemmatizer() from nltk
#Lemmatization is the process of grouping together the different inflected forms of a word so they can be analysed as a single item by using vocabulary and part of speech rules
#Example run --> ran
#Note: NOT able to do both stemming and lemmatization 
#Would suggestion picking one method
#Automatically stems if both are set to True


lemmatize: True


#To create a list of Named Entities set to True. If not set to False
#Named Entities are names of persons, organizations, locations, expressions of times, quantities, monetary values, ect.


